* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 3px;
    background-color: #313244;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
    min-width: 25px;
}

#workspaces button.active {
    background-color: #a6adc8;
    min-width: 40px;
}

#workspaces button.focused {
    background-color: #eba0ac;
}

#workspaces button.urgent {
    background-color: #11111b;
}

#workspaces button:hover {
    background-color: #11111b;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-keyboard_toggle,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 8px;
    margin: 2px 0px;
    margin-top: 5px;
    border: 0px;
}

/*Left round*/
#clock, #tray, #custom-lock_screen, #temperature, #backlight, #cpu, #pulseaudio {
    border-radius: 10px 0px 0px 10px;
}

/*Right round*/
#custom-light_dark, #custom-power_btn, #pulseaudio.microphone, #disk {
    border-radius: 0px 10px 10px 0px;
    margin-right: 8px;
}

/*Full round (both left and right)*/
#battery {
    border-radius: 10px 10px 10px 10px;
    margin-right: 8px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 10px 10px 10px 10px;
    margin-right: 8px;
    padding: 0px 12px 0px 8px;
}

#network {
    border-radius: 10px 10px 10px 10px;
    margin-right: 8px;
    padding: 0px 12px 0px 8px;
}


/*Left and right*/
#workspaces {
    border-radius: 10px 10px 10px 10px;
}

#custom-launch_wofi {
    border-radius: 10px 10px 10px 10px;
    padding-right: 14px;
}

#temperature.critical {
    color: #e92d4d;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 8px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
    border-left: 0px;
    padding: 0px 12px;
}
